h1{
  font-size: 40px;
  font-family: Paltino, serif;
  color: purple;
  text-align: center;
  text-shadow: 1px 2px 2px #000;
  margin-bottom: -10px;
    
  }
#phone{
  font-size: 20px;
  font-family: Paltino, serif;
  float: left;
  margin-bottom: 15px;
  padding: 2px;
  margin-right: -25px
}
#email{
  font-size: 20px;
  font-family: Paltino, serif;
  float: right;
  margin-bottom: 15px;
  padding: 2px;
  margin-left: -25px;
}
body{
background-color: lightgray;
color: midnightblue;
font-family: Paltino, serif;
font-size: 25px;
margin:50px 150px;
}

.
.header{
  
}
#footer{
  border-radius: 5px;
  height: 10px;
  width: 200px;
  color: gray;
  clear: both;
  display: inline;
  text-align: center;
  font-size: 8px;
