h1{
  font-size: 32px;
  font-family: Paltino, serif;
  color: purple;
  text-align: center;
  border: 5px solid purple;
}
h3{
  font-size: 20px;
  font-family: Georgia, serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
body{
background-color: paleturquoise;
text: white;
}
